

$cl-main: #5932e8;
$cl-success: #18e818;
$cl-errol: #eb2929;
$cl-pending: #daa520;
$cl-active: #529252;
$cl-passive: #d069a5;
$primary-color: #4caf50;
$secondary-color: #555;

$cl-txt-title: #777;
$cl-txt-grey: #999;
$cl-txt-over: #d3d3d3;

$cl-main-hv: #e1dcf3;


$cl-btn-vw: #00008b;
$cl-btn-dlt: #dc143c;
$cl-btn-pos-shy: #cce7ff;

$cl-btn-pos: #0088ff;
$bg-gradient: linear-gradient(135deg, #ddcbfa 0%, #b2cefd 100%);