@use '../utils' as *;
@use '../abstract' as *;


.calculator {
    flex: 5;
    

    .calc-money {
        margin: 20px 0;
        @include center;
        position: relative;
        height: 50px;
        p {
            font-size: 20px;
            font-weight: bold;
            color: $cl-btn-pos;
        }
        .dlt-btn {
            position: absolute;
            right: 0;
            margin-right: 10px;
            font-size: 16px;
            color: $cl-txt-grey;
            &:hover {
                color: #000;
            }
            &:active {
                color: $cl-txt-grey;
            }
        }
    }

    .calc-table {
        width: 100%;
        text-align: center;
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        font-weight: bold;
        .calc-btn {
            width: 100%;
            height: 60px;
            background-color: antiquewhite;
            overflow: hidden;
            border-radius: 5px;
            font-size: 16px;
            font-weight: bold;
            border: none;
            background: none;
            background-color: $cl-btn-pos-shy;
            cursor: pointer;
            &:hover {
                background-color: $cl-btn-pos;
                color: #fff;
            }
            &:active {
                background-color: $cl-btn-pos-shy;
                color: #000;
            }
        }
    }


}