@forward 'navbar';
@forward 'sidebar';
@forward 'widget';
@forward 'chart';
@forward 'feature';
@forward 'table';
@forward 'dataTable';
@forward 'productRetail';
@forward 'calculator';
@forward 'infPayment';
@forward 'modal';
@forward "receipt"