
@use '../utils' as *;
@use '../abstract' as *;

.my-modal-box {
    padding: 30px 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    height: fit-content;
    background-color: white;
    @include center;
    gap: 10px;
    flex-direction: column;
    box-shadow: 0px 4px 24px rgba(0,0,0,0.2);
    border-radius: 8px;

    .icon-success {
        color: $cl-success;
        font-size: 30px;
    }

    .icon-error {
        color: $cl-errol;
        font-size: 30px;
    }

    .modal-btn {
        background: none;
        border: none;
        padding: 6px;
        margin-top: 10px;
        width: 80px;
        background-color: $cl-success;
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        border-radius: 5px;
    }
}