@use '../utils' as *;
@use '../abstract' as *;


.pos-pay {
    @include center;
    flex-direction: column;
    margin: 20px;

    .title {
        font-size: 20px;
        padding: 20px;
        font-weight: bold;
        color: $cl-txt-title;
    }

    .pos-pay-btn {
        margin: 20px;
        display: flex;
        gap: 40px;
        
        button {
            width: 100px;
            padding: 6px 12px;
            border: none;
            background: none;
            color: #fff;
            font-weight: bold;
            font-size: 14px;
            border-radius: 5px;
            cursor: pointer;
            &:first-child {
                background-color: #ccc;
            }
            &:last-child {
                background-color: blue;
            }
        }
    }
}