@use '../utils' as *;
@use '../abstract' as *;

.pos-home {
    
    .home-header {
        @include align-ct;
        height: 60px;
        gap: 10px;
        position: relative;
        padding: 20px;
        border-bottom: $bd-05;
        .head-title {
            font-size: 18px;
            font-weight: bold;
        }

        span {
            font-size: 12px;
            color: #777;
        }

        .head-set {
            padding: 6px 12px;
            margin-left: 30px;
            @include align-ct;
            border-radius: 99px;
            gap: 6px;
            background-color: $cl-btn-pos-shy;
            span {
                color: $cl-btn-pos;
                font-weight: bold;
            }
            .money-icon {
                @include circle(16px);
                background-color: $cl-btn-pos;
                color: white;
            }
        }

        .head-list {
            position: absolute;
            left: 48%;
        }

        .head-btn {
            margin: 20px;
            position: absolute;
            right: 0;
            font-size: 30px;
            color: $cl-btn-pos;
            &:hover {
                color: #00008b;
            }
            &:active {
                color: $cl-btn-pos;
            }
        }
    }

    .home-container {
        padding: 20px;
        display: flex;
        gap: 20px;
        height: calc(100vh - 60px);
        width: 100%;
        .home-left {
            flex: 5;
            display: flex;
            flex-direction: column; // để chia top - content - bottom
            height: 100%;

            .left-top {
                display: flex;
                justify-content: center;
                flex-shrink: 0;
                position: relative;
                

                .product-search {
                    position: absolute;
                    width: 500px;
                    top: 100%;
                    z-index: 9999;
                    background-color: #fff;
                    border-radius: 5px;
                    max-height: 300px;
                    overflow-y: scroll;
                    .pro-item {
                        @include align-ct;
                        gap: 10px;
                        padding: 10px 10px;
                        border-bottom: 1px solid #f5f2f2;
                        font-size: 14px;
                        img {
                            @include circle(32px)
                        }
                        &:hover {
                            background-color: #e7e6e6;

                        }
                    }
                }

                .home-search {
                    margin: 10px 0;
                    @include center;
                    width: 500px;
                    border-radius: 5px;
                    border: 1px solid #ccc;
                    overflow: hidden;
                    input {
                        padding: 8px 0;
                        flex: 15;
                        border: none;
                        outline: none;
                    }
                    
                    .search-icon {
                        flex: 1;
                        font-size: 16px;
                    }
                    
                }
            }

            .product-retail {
                flex: 1;
                overflow-y: auto;
                height: 70vh;   
            }

            .left-bottom {
                margin-top: 10px;
                padding: 0 10px;
                flex-shrink: 0;
                position: sticky;
                bottom: 0;
                height: 50px;
                @include align-ct;
                justify-content: space-between;
                font-size: 16px;
                font-weight: bold;
                background-color: $cl-btn-pos-shy;
                color: $cl-btn-pos;
                span {
                    color: #000;
                }
            }
        }

        hr {
            width: 0;
            border: $bd-05;
        }
        .home-right {
            flex: 5;
            position: relative;
            .right-top {
                margin: 10px 0;
                @include align-ct;
                height: 40px;
                gap: 24px;
                .method {
                    padding: 0 10px;
                    height: 100%;
                    background-color: #f0f3f5;
                    border: 1px solid #f0f3f5;
                    position: relative;
                    @include align-ct;
                    gap: 5px;
                    font-size: 12px;
                    cursor: pointer;
                    &.active {
                        border: 1px solid $cl-btn-pos;
                    }
                    .method-icon {
                        color: $cl-btn-pos;
                        font-size: 30px;
                    }

                    &:hover {
                        border: 1px solid $cl-btn-pos;
                    }
                }
            }

            .right-center {
                display: flex;
                gap: 10px;
                margin-top: 10px;
                
            }

            .right-bottom {
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 50px;
                @include align-ct;
                gap: 20px;
                .item-btn {
                    height: 100%;
                    background: none;
                    border: none;
                    border-radius: 5px;
                    font-size: 16px;
                    &:nth-child(1) {
                        flex: 1;
                        border: 1px solid rgb(236 180 177);
                        color: $cl-errol;
                        background-color: #fbd7d7;
                        &:hover {
                            background-color: #eb5f5f;
                            color: #f1eaea;
                        }
                        &:active {
                            color: $cl-errol;
                            background-color: #fbd7d7;
                        }
                    }
                    
                    &:nth-child(2), &:nth-child(3) {
                        flex: 1;
                        border: 1px solid $cl-btn-pos;
                        background-color: $cl-btn-pos-shy;
                        color: $cl-btn-pos;
                        &:hover {
                            background-color: $cl-btn-pos;
                            color: #f1eaea;
                        }
                        &:active {
                            background-color: $cl-btn-pos-shy;
                            color: $cl-btn-pos;
                        }
                    }
                    
                    &:nth-child(4) {
                        flex: 2;
                        background-color: $cl-btn-pos;
                        color: #fff;
                        &:hover {
                            background-color: #00008b;
                            color: #f1eaea;
                        }
                        &:active {
                            background-color: $cl-btn-pos;
                            color: #fff;
                        }
                    }
                }
                .btn-disable {
                    cursor: not-allowed;
                    opacity: 0.5;
                }
            }
        }

    }

}