@use '../utils' as *;
@use '../abstract' as *;

.dashboard {
    display: flex;
    .dashboard-container {
        flex: $flex-container;

        .dashboard-widgets, .dashboard-chart {
            display: flex;
            padding: 20px;
            gap: 20px;
        }

        .dashboard-chart {
            padding: 20px;
        }
    
        .dashboard-list-container {
            padding: 20px;
            margin: 20px;

            .list-title {
                color: $cl-txt-title;
                margin-bottom: 15px;
                font-weight: 00;
            }
        }
    }

}