@use '../utils' as *;
@use '../abstract' as *;

.home {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom right, #0069fd, #2f9869, #8f25d5);
    background-size: 400% 400%;
    animation: gradientWave 10s ease infinite;
    .home-container {
        width: 100%;
        height: 100%;
        @include center;
        
        .home-box {
            padding: 20px;
            min-width: 400px;
            min-height: 500px;
            border-radius: 5px;
            background-color: rgba($color: #dcc6f4d6, $alpha: 0.1);
            color: #fff;
            @include align-ct;
            flex-direction: column;
            .title {
                margin: 20px 0;
                font-size: 24px;
                font-weight: 600;
            }

            .text {
                font-size: 13px;
                line-height: 1.5;

                span {
                    text-decoration: underline;
                    font-size: 12px;
                    cursor: pointer;
                }
            }

            form {
                margin-top: 70px;
                display: flex;
                align-items: center;
                flex-direction: column;
                width: 100%;
                gap: 24px;
                .input-box {
                    width: 80%;
                    position: relative;
                    input {
                        font-size: 16px;
                        color: #fff;
                        width: 100%;
                        background: none;
                        border: none;
                        outline: none;
                        padding: 6px;
                        border-bottom: 1px solid #999;
                        &::placeholder {
                            color: #999;
                        }
                    }

                    &::after {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        height: 1px;
                        width: 0%;
                        background-color: #222;
                        transition: width 0.5s;
                    }

                    &:has(input:focus)::after {
                        width: 100%;
                    }

                }

                button {
                    width: 80%;
                    padding: 10px;
                    margin: 10px 0;
                    background: none;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                    color: #fff;
                    font-size: 16px;
                }
            }
        }
    }
}

@keyframes gradientWave {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}