@use '../utils' as *;
@use '../abstract' as *;

.home {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom right, #0069fd, #2f9869, #8f25d5);
    background-size: 400% 400%;
    animation: gradientWave 10s ease infinite;
    .home-container {
        width: 100%;
        height: 100%;
        @include center;
        
        .home-box {
            padding: 20px;
            min-width: 400px;
            min-height: 500px;
            border-radius: 5px;
            color: #fff;
            @include align-ct;
            flex-direction: column;
            .title {
                margin: 20px 0;
                font-size: 24px;
                font-weight: 600;
            }

            .text {
                font-size: 13px;
                line-height: 1.5;

                span {
                    text-decoration: underline;
                    font-size: 12px;
                    cursor: pointer;
                }
            }

            form {
                @include center;
                flex-direction: column;
                button {
                    padding: 10px 20px;
                    margin: 10px 0;
                    background: none;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                    color: #fff;
                    font-size: 16px;
                }
                .pin-inputs {
                    display: flex;
                    justify-content: center;
                    gap: 12px;
                    margin: 20px 0;
                }

                .pin-box {
                    width: 50px;
                    height: 60px;
                    font-size: 28px;
                    text-align: center;
                    border: 2px solid #ccc;
                    border-radius: 8px;
                }

                .pin-box:focus {
                    border-color: #4caf50;
                    outline: none;
                }

            }
        }
    }
}

@keyframes gradientWave {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}