@use '../utils' as *;
@use '../abstract' as *;


.pro-item-page {
    display: flex;

    .pro-item-container {
        flex: $flex-container;
    }

    .pro-item-title {
        padding: 20px 20px 0;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 20px;
        color: $cl-txt-title;
    }

    .pro-item-main {
        display: flex;
        gap: 24px;
        padding: 20px;
        h2 {
            margin-bottom: 20px;
            font-weight: bold;
            font-size: 16px;
            color: $cl-main;
        }
        .item-left {
            flex: 4;
            
            .item-left-top {
                padding: 20px;
                overflow: hidden;
                border-radius: 5px;
                max-height: fit-content;
            }
            .product-img {
                
                width: 100%;
                @include center;
                img {
                    border-radius: 5px;
                    max-width: 300px;
                    max-height: 300px;
                }
            }

            .item-btn-img {
                display: block;
                background: none;
                width: 100%;
                padding: 10px;
                margin: 30px 0 10px;
                border: none;
                background-color: $cl-main;
                color: #fff;
                font-weight: bold;
                font-size: 16px;
                text-align: center;
            }

        }

        .item-right {
            flex: 7;

            .product-form {
                .form-group {
                    display: flex;
                    gap: 20px;
                }
    
                .form-item {
                    width: 100%;
                    padding: 20px 0;
                    label {
                        display: block;
                        font-size: 16px;
                        padding-bottom: 6px;
                        color: #999;
                    }
                    input, select {
                        outline: none;
                        border: none;
                        background: none;
                        border-bottom: 1px solid #999;
                        padding-bottom: 10px;
                        width: 80%;
                    }

                    .item-btn {
                        margin-top: 20px;
                        padding: 10px;
                        width: 80%;
                        border: none;
                        background: none;
                        background-color: $cl-main;
                        color: #fff;
                        font-weight: bold;
                        font-size: 16px;
                    }
                }
            }
            
            .right-top {
                padding: 20px;
                border-radius: 5px;
                overflow: hidden;

            }


            .right-bottom {
                margin-top: 20px;
                padding: 20px;
                border-radius: 5px;
                overflow: hidden;
            }
        }
    }

}