@use '../utils' as *;
@use '../abstract' as *;

.single-page {
    display: flex;
    .single-container {
        flex: $flex-container;
    }

    .single-title {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 20px;
        color: $cl-txt-title;
    }

    .single-side {
        padding: 10px 0;
        display: flex;
        gap: 20px;
        // border-bottom: 1px solid #999;
        img {
            @include circle(100px);
            object-fit: cover;
        }
        
        .single-avt {
            flex: 4;
            border-radius: 5px;
            padding: 20px;
            display: flex;
            align-items: center;
            .single-avt-text {
                padding: 0 10px;
                p {
                    font-weight: bold
                }
                div {
                    @include center;
                    gap: 10px;
                }
            }
        }
        
        .single-revenue {
            flex: 3;
            border-radius: 5px;
            padding: 20px;
        }
    }
    .single-top {
        padding: 20px;
        display: flex;
        gap: 30px;
        
        .single-left {
            padding: 20px;
            flex: 1;
            position: relative;
            border-radius: 5px;
            overflow: hidden;
            .single-avt {
                width: 100%;
                height: 250px;
                img {
                    width: 100%;
                    height: 100%;
                    // object-fit: contain;
                }
            }

            .single-btn-img {
                display: block;
                background: none;
                width: 100%;
                padding: 10px;
                margin: 20px 0 10px;
                border: none;
                background-color: $cl-main;
                color: #fff;
                font-weight: bold;
                font-size: 16px;
                text-align: center;
            }
        }
        .single-right {
            padding: 20px;
            flex: 3;
            position: relative;
            border-radius: 5px;
            overflow: hidden;
            .single-form {
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                gap: 20px;

                .form-input {
                    width: 40%;
                    margin: 10px 0;
                    label {
                        @include align-ct;
                        gap: 10px;
                    }
                        
                    input {
                        width: 90%;
                        padding: 5px;
                        margin-top: 10px;
                        border: none;
                        background: none;
                        border-bottom: 1px solid gray;
                        outline: none;
                        object-fit: contain;
                    }
                }

                .form-btn {
                    width: 40%;
                    margin: 10px 0;
                    button {
                        margin-top: 20px;
                        padding: 10px;
                        width: 100%;
                        font-size: 16px;
                        cursor: pointer;
                        background: none;
                        border: none;
                        background-color: $cl-main;
                        color: #fff;
                        font-weight: bold;
                        
                    }
                }
            }
        }
    }

    .single-filter {
        margin: 0 20px;
        display: flex;
        gap: 20px;
        .btn-filter {
            transition: all 0.5s ease-out;
            border: none;
            background: none;
            border-radius: 10px;
            color: #90a1b1;
            font-weight: bold;
            cursor: pointer;
            padding: 4px 12px;
        }
        .btn-active {
            color: #536bcb;
        }
    }

    .single-content{
        padding: 20px;
        margin: 20px 0;
        
    }
}