@use '../utils' as *;
@use '../abstract' as *;

.single-page {
    display: flex;
    .single-container {
        flex: $flex-container;
    }

    .single-title {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 20px;
        color: lightgrey;
    }

    .single-top {
        padding: 20px;
        display: flex;
        gap: 20px;
        
        .single-left {
            padding: 20px;
            flex: 1;
            position: relative;
            
            .single-avt {
                width: 100%;
                height: 250px;
                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .single-btn-img {
                background: none;
                width: 100%;
                padding: 10px;
                margin: 20px 0 10px;
                border: none;
                background-color: $cl-main;
                color: #fff;
                font-weight: bold;
                font-size: 16px;
            }
        }
        .single-right {
            padding: 20px;
            flex: 2;
            position: relative;
            .single-form {
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                gap: 20px;

                .form-input {
                    width: 40%;
                    margin: 10px 0;
                    label {
                        @include align-ct;
                        gap: 10px;
                    }
                        
                    input {
                        width: 90%;
                        padding: 5px;
                        margin-top: 10px;
                        border: none;
                        background: none;
                        border-bottom: 1px solid gray;
                        outline: none;
                        object-fit: contain;
                    }
                }

                .form-btn {
                   @include center;
                   position: absolute;
                   bottom: 10px;
                    button {
                        cursor: pointer;
                        width: 300px;
                        background: none;
                        border: none;
                        background-color: $cl-main;
                        padding: 10px;
                        color: #fff;
                        font-size: 16px;
                        font-weight: bold;
                        margin: 20px;
                    }
                }
            }
        }
    }

    .single-filter {
        margin: 20px 20px;
        display: flex;
        gap: 20px;
        button {
            border: 1px solid #ccc;
            background: none;
            padding: 10px 20px;
            border-radius: 99px;
            color: #555;
            cursor: pointer;
        }
        .btn-active {
            background-color: #ccc;
            color: #000;
        }
    }

    .single-bottom {
        padding: 20px;
        margin: 10px 20px;
    }
}